---
import Container from "@components/container.astro";
import Faq from "@components/faq.astro";
import Logos from "@components/logos.astro";
import Pricing from "@components/pricing.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { changeLanguage } from "i18next";

changeLanguage("es");

const pricingData = [
	{
		name: "Básico",
		price: "Desde S/100",
		popular: false,
		features: [
			"Transporte de carga consolidada nacional",
			"Envíos a países andinos",
			"Carga general y paquetería",
			"Entrega en plazos estándar",
			"Seguimiento básico",
		],
		button: {
			text: "Cotizar ahora",
			link: "/contact",
		},
	},
	{
		name: "Estándar",
		price: "Desde S/250",
		popular: true,
		features: [
			"Transporte de carga sobredimensionada y especial",
			"Logística para equipos industriales",
			"Seguros y permisos incluidos",
			"Prioridad en tiempos de entrega",
			"Seguimiento en tiempo real",
		],
		button: {
			text: "Cotizar ahora",
			link: "/contact",
		},
	},
	{
		name: "Premium",
		price: "A medida",
		popular: false,
		features: [
			"Transporte de personal en autos, camionetas y buses",
			"Servicios VIP para empresas y eventos",
			"Atención personalizada 24/7",
			"Flexibilidad en rutas y horarios",
			"Seguridad y confort garantizados",
		],
		button: {
			text: "Contáctanos",
			link: "/contact",
		},
	},
];
---

<Layout title="Tarifas">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Nuestros Precios</Fragment>
			<Fragment slot="desc">Soluciones de transporte adaptadas a tus necesidades.</Fragment>
		</Sectionhead>

		<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-20">
			{pricingData.map((item) => <Pricing plan={item} />)}
		</div>
		<Faq />
	</Container>
</Layout>
